/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #F4F5FF;
}
.wave-container-top {
    z-index: 0;
    min-height: 100vh;
    overflow: hidden;
    @media only screen and (max-width: 1023px) {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

.wave-svg-top {
    height: 100%;
    width: 100%;
    fill: url(#wave-gradient); /* Aplica el gradiente de color como relleno del SVG */
}
.wave-container-top-left{
    @media only screen and (max-width: 1023px) {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
.wave-svg-top-left {
    position: relative;
    height: 100%;
    width: 100%;
    fill: url(#wave-gradient); /* Aplica el gradiente de color como relleno del SVG */
    z-index: 1;
}

.big-logo {
    width: 0;
    height: 0;
    position: relative; /* Agrega posicionamiento relativo */
    z-index: 1; /* Asegúrate de que .big-logo esté detrás de .perros */
    @media only screen and (min-width: 1023px) {

        background-repeat: no-repeat;
        background-position: center center;
        min-width: 368px;
        min-height: 375px;
        margin: 0;
        background-image: url('../statics/pawsly_grade.png');
        background-size: contain;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 53%;
    }
}

.dogs {
    width: 0;
    height: 0;
    position: absolute; /* Agrega posicionamiento absoluto */
    top: 0;
    left: 0;
    z-index: 2; /* Asegúrate de que .perros esté delante de .big-logo */
    @media only screen and (min-width: 1023px) {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-width: 666px;
        min-height: 570px;
        margin: 0;
        background-image: url('../statics/perros.svg');
        top: 55%;
        left: 52%;
        transform: translate(-50%, -50%);
    }
}

.container-main {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center; /* Agrega esta línea para centrar horizontalmente */

}
.wave-top{
    height: 70px;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    display: flex;

    @media only screen and (min-width: 1023px) {
        visibility: hidden;
        height: 50px;
    }
}

.drop{
    height: 100%;
    width: 100%;

}

.container-1 {
    visibility: hidden;
    @media only screen and (min-width: 1023px) {
        visibility: visible;
        min-width: calc(100vw - 421px); /* Ajusta el ancho al 100% */
        height: 100vh;
        position: absolute;
        left: 0;
    }
}

.container-2 {
    margin: 0 auto 0 auto;
    @media only screen and (max-width: 1023px) {
        width: 100%;
    }
    @media only screen and (min-width: 1023px) {
        width: 389px;
        padding-right: 16px;
        padding-left: 16px;
        margin: 0 0 0 auto;
    }
}
/* Logo styling */
#logo-pawsly {
    width: 0;
    height: 0;
    @media only screen and (max-width: 1023px) {
        margin: 0 auto 0 auto;
        width: 80px;
        height: 100px;
        padding-right: 16px;
        padding-left: 16px;
        background-image: url('../statics/logo_pawsly.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

/* Title styling */
.title {
    font-size: 32px;
    font-weight: bold;
    margin: 8px auto 0 auto;
    font-family: 'Roboto Slab', serif;
}

/* Section text styling */
.section-text {
    width: 322px;
    height: 57px;
    margin: 8px auto 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Text input styling */
.text-inputs {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-inputs > * {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 16px;
    font-size: 16px;

    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.text-inputs input {
    height: 33px;
    width: 293px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-indent: 40px;
}

/* Background images for input fields */
.email {
    background-image: url('../statics/icon_correo.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 24px 23px;
}

#name {
    background-image: url('../statics/icon_person.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 24px 23px;
}

#city {
    background-image: url('../statics/house_icon.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 24px 23px;
}
.select-box {
    width: 299px;
    background-repeat: no-repeat;
    background-position: 8px center;
}
.select-box{
    height: 33px;
}

.select-box .css-13cymwt-control {
    /* Ruta del logo */
    background-size: 24px 23px; /* Tamaño del logo */
    padding-bottom: 19px;
    padding-left: 40px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    height: 33px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    background: #FFFFFF url('../statics/house_icon.svg') no-repeat 8px center;
}

.select-box .css-13cymwt-control .css-1fdsijx-ValueContainer .css-1dimb5e-singleValue{
    margin: -9px 0 0 0;

}

.select-box .css-13cymwt-control .css-1jqq78o-placeholder{
    margin: -9px 0 0 -4px !important;
    font-size: 16px !important;

}

.select-box .css-13cymwt-control .css-qbdosj-Input input {
    grid-area: unset !important;
    min-width: unset !important;
    margin: 0 !important;
}


.password {
    background-image: url('../statics/icon_key.svg');
    background-repeat: no-repeat;
    background-position: 8px center;
    background-size: 24px 23px;
}
.term{
    width: 299px;
    margin: 8px auto 0 auto;
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center;
}
#term-text{
    font-family: 'Roboto Slab', serif;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    transition: color,font-size 1s .5s;

}
#term-text b {
    font-size: 16px;
}

#term-text:hover{
    color: rgba(0, 0, 0, 0.24);
    font-size: 17px;
}


#customCheckbox {
    opacity: 0;
    position: absolute;
}

.custom-checkbox {
    display: inline-block;
    background-size: cover;
    border: 2px solid #3E4EFF;
    border-radius: 5px;
    width: 22px;
    height: 22px;
    margin-right: 24px;
}


#customCheckbox:checked + .custom-checkbox {
    background-image: url('../statics/check_paw.svg');
    background-repeat: no-repeat;
    background-size: 20px 19px;
    background-position: center center;
}
#button-create{
    width: 163px;
    height: 48px;
    border-radius: 15px;
    background: linear-gradient(to right, #3E4EFF, #252F99);
    margin: 24px auto 0 auto;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
#button-create.disabled {
    opacity: 0.5; /* Reduce la opacidad del botón desactivado */
    cursor: not-allowed; /* Cambia el cursor cuando el botón está desactivado */
}

.text-in {
    margin: 32px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px; /* Espacio entre elementos */
}
.text-in > a {
    color: #000000;
    text-decoration: none;
}

.logos-in {
    width: 231px;
    height: 53px;
    display: flex;
    margin: 24px auto 0 auto;
    justify-content: space-between;
}

.logo {
    width: 50px; /* Ancho deseado para cada logotipo */
    height: 50px; /* Altura deseada para cada logotipo */
    background-size: cover;
    background-position: center;
}

.logo-google {
    background-image: url('../statics/logo_google.svg');
    background-repeat: no-repeat;
}

.logo-facebook {
    background-image: url('../statics/logo_facebook.svg');
    background-repeat: no-repeat;
}

.wave-container {
    width: 100%; /* Ajusta el ancho del contenedor */
    height: 150px; /* Establece la altura deseada */
    overflow: hidden; /* Oculta el exceso de contenido */
    @media only screen and (min-width: 1023px) {
        visibility: hidden;
    }
}

.wave-svg {
    width: 100%; /* Ajusta el ancho del SVG al 100% del contenedor */
    height: 100%; /* Ajusta la altura del SVG al 100% del contenedor */
    fill: url(#wave-gradient); /* Aplica el gradiente lineal como fondo */
}
.error{
    color: #ff0000;
}
#facebook {
    background: #3b5998;
    border-radius: 50%;
    border-color: black;
    height: 50px;
    position: relative;
    width: 50px;
}

#facebook:after {
    color: #ffffff;
    content: "f";
    display: block;
    font-family: Facebook Letter Faces, Arial, fantasy;
    font-size: 50px;
    font-weight: bold;
    margin: 6% 0 0 5%;
}

#facebook:hover {
    -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

#google {
    position: relative;
    border-top: 10px solid #e34133;
    border-right: 10px solid #4285f4;
    border-bottom: 10px solid #34a853;
    border-left: 10px solid #fbbc05;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 30px;
    height: 30px;
    padding: 0;
}

#google::before {
    content: "";
    z-index: 100;
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 20px;
    height: 10px;
    background: #4285f4;
}
#google::after {
    content: "";
    z-index: 101;
    position: absolute;
    border-top: 20px solid transparent;
    border-right: 24px solid #FFFFFF;
    border-top-right-radius: 100%;
    top: -10px;
    right: -10px;
    width: 0;
    height: 0;
}
#google:hover {
    -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}



