.button {
  width: 163px;
  height: 48px;
  border-radius: 15px;
  background: linear-gradient(to right, #3e4eff, #252f99);
  margin: 24px auto 0 auto;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
