.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  
    &-row {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 20px;
    }
  
    &-item {
      flex: 1 1 30%;
      max-width: 30%;
      margin: 0 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      max-width: 300px;
      max-height: 300px;
      height: 300px;
      color: white;
      position: relative;
  
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Color de fondo semitransparente */
        border-radius: 50%;
        z-index: 1;
      }
  
      &:last-child {
        margin-right: 0;
      }
  
      .image-grid-banner {
        position: relative;
        z-index: 2; /* Asegura que el banner esté sobre el fondo */
      }
  
      &-background-wrapper {
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
      }
  
      &-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
      }
    }
  
    @media (max-width: 768px) {
      &-item {
        max-width: 45%;
      }
  
      &-row {
        justify-content: space-around;
      }
    }
  }
  