/* Modal.module.css */

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    overflow-y: auto; 
    padding: 20px;
    z-index: 99999999999;
  }
  
  .modalContent {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: 60%;  
    height: 80%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto; 
  }
  
  /* .modalContent::after {
    content: '';
    position: absolute;
    background-image: url('../statics/logo_pawsly.png') ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain; /* Cubre todo el fondo del modal 
    background-position: center;
    background-attachment: fixed;  
    z-index: 1 ; /* Asegura que la imagen esté detrás del contenido 
    opacity: 0.2;

  } */

  .closeButton:hover {
    background-color: #333;
  }
  

  .modalBody {
    color: #000000; 
    font-weight: bold;
    padding: 70px;
    background {    
      content: '';
      position: absolute;
      background-image: url('../statics/logo_pawsly.png') ;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: contain; /* Cubre todo el fondo del modal */
      background-position: center;
      background-attachment: fixed;  
      z-index: 1 ; /* Asegura que la imagen esté detrás del contenido */
      opacity: 0.2;
    }
  }
  

  