.header {
  height: 100px;
}

.banner {
  z-index: -1;
  background-image: url('../statics/gato_mano.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  min-height: 350px;
  margin: 0 auto;

  @media only screen and (min-width: 1023px) {
    min-height: 700px;
  }
}
.banner__text {
  padding-top: 22px;
  position: relative;
  z-index: 0;
  margin: 0 auto 0 auto;
  max-width: 319px;
  max-height: 280px;
  font-size: 8px;
  @media only screen and (min-width: 1023px) {
    max-width: 703px;
    max-height: 467px;
    padding-top: 100px;
    margin: 0 auto 0 100px;
  }
}
.imageCard {
  position: relative;
  z-index: 1;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.5px;
  @media only screen and (min-width: 850px) {
    font-size: 8px;
  }
}
.carousel{
  width: 100%;
  font-size: 6.5px;
  @media only screen and (min-width: 850px) {
    font-size: 8px;
  }
}
.slider {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 0;
  @media (max-width: 768px) {
    min-height: 650px;
  }
}
.imageCircle {
  font-size: 10px;
  @media (min-width: 393px) and (max-width: 600px) {
    font-size: 5px;
  }
  @media (min-width: 600px) and (max-width: 850px) {
    font-size: 8px;
  }
}
