@font-face {
  font-family: "Roboto Slab";
  src: url(./fonts/RobotoSlab-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Regular";
  src: url(./fonts/RobotoSlab-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Roboto Slab", "Roboto", "Roboto Regular", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color-scheme: light only;
}

code {
  font-family: "Roboto Slab", "Roboto", "Roboto Regular", serif;
}
